<p>inscription works!</p>
<div>
    <div>
        <label>VOTRE NOM: </label><br>
        <input type="text" [(ngModel)]="u.nom">
    </div>
    <div>
        <label>PRENOM: </label><br>
        <input type="text" [(ngModel)]="u.prenom">    
    </div>
    <div>
        <label>VOTRE MAIL: </label><br>
        <input type="email" [(ngModel)]="mail">
    </div>
    <div>
        <label>VOTRE ADRESSE: </label><br>
        <input type="text" [(ngModel)]="u.adresse">    
    </div>
    <div>
        <label>VOTRE DATE DE NAISSANCE: </label><br>
        <input type="date" [(ngModel)]="u.date_naissance">    
    </div>
    <div>
        <label>VOTRE LOGIN: </label><br>
        <input type="text" [(ngModel)]="u.id">    
    </div>
    <div>
        <label>VOTRE MOT DE PASSE: </label><br>
        <input type="password" [(ngModel)]="u.password">    
    </div>
</div>
<div>
    <button type="button" (click)="inscrit()">INSCRIPTION</button>
</div>
{{message}}